In [7]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt

SyntaxError: invalid syntax (2382653793.py, line 4)

In [8]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.2)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.9.0-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.2.1-cp312-cp312-win_amd64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.53.0-cp312-cp312-win_amd64.whl.metadata (165 kB)
     ---------------------------------------- 0.0/165.5 kB ? eta -:--:--
     ------- ------------------------------- 30.7/165.5 kB 1.3 MB/s eta 0:00:01
     ------------------- ------------------- 81.9/165.5 kB 1.2 MB/s eta 0:00:01
     ---------------------------- --------- 122.9/165.5 kB 1.0 MB/s eta 0:00:01
     ------------------------------------ 165.5/165.5 kB 995.2 kB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading kiwisolver-1.4.5-cp312-cp312-win_amd64.whl.metadata (6.5 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
   ------------ --------------------------- 92.2/294.9 kB 1.7 MB/s eta 0:00:01
   ---------------------- ----------------- 163.8/294.9 kB 1.6 MB/s eta 0:00:01
   --------------------------------- ------ 245.8/294.9 kB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 286.7/294.9 kB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 294.9/294.9 kB 1.2 MB/s eta 0:00:00
Downloading matplotlib-3.9.0-cp312-cp312-win_amd64.whl (8.0 MB)
   ---------------------------------------- 0.0/8.0 MB ? eta -:--:--
    --------------------------------------- 0.1/8.0 MB 3.3 MB/s eta 0:00:03
    --------------------------------------- 0.2/8.0 MB 2.0 MB/s eta 0:00:04
   - -------------------------------------- 0.2/8.0 MB 1.9 MB/s eta 0:00:05
   - -------------------------------------- 0.3/8.0 MB 2.0 MB/s eta 0:00:04
   -- ------------------------------------- 0.4/8.0 MB 1.9 MB/s eta 0:00:04
   -- ------------------------------------- 0.5/8.0 MB 1.7 MB/s eta 0:00:05
   -- ------------------------------------- 0.6/8.0 MB 1.9 MB/s eta 0:00:04
   --- ------------------------------------ 0.7/8.0 MB 1.8 MB/s eta 0:00:05
   --- ------------------------------------ 0.8/8.0 MB 1.9 MB/s eta 0:00:04
   ---- ----------------------------------- 0.9/8.0 MB 1.9 MB/s eta 0:00:04
   ---- ----------------------------------- 1.0/8.0 MB 1.9 MB/s eta 0:00:04
   ----- ---------------------------------- 1.0/8.0 MB 1.9 MB/s eta 0:00:04
   ----- ---------------------------------- 1.1/8.0 MB 1.9 MB/s eta 0:00:04
   ------ --------------------------------- 1.2/8.0 MB 1.9 MB/s eta 0:00:04
   ------ --------------------------------- 1.3/8.0 MB 1.9 MB/s eta 0:00:04
   ------- -------------------------------- 1.4/8.0 MB 1.9 MB/s eta 0:00:04
   ------- -------------------------------- 1.6/8.0 MB 1.9 MB/s eta 0:00:04
   -------- ------------------------------- 1.6/8.0 MB 1.9 MB/s eta 0:00:04
   --------- ------------------------------ 1.8/8.0 MB 2.0 MB/s eta 0:00:04
   --------- ------------------------------ 1.9/8.0 MB 2.0 MB/s eta 0:00:03
   ---------- ----------------------------- 2.0/8.0 MB 2.1 MB/s eta 0:00:03
   ---------- ----------------------------- 2.2/8.0 MB 2.1 MB/s eta 0:00:03
   ----------- ---------------------------- 2.3/8.0 MB 2.1 MB/s eta 0:00:03
   ------------ --------------------------- 2.4/8.0 MB 2.2 MB/s eta 0:00:03
   ------------ --------------------------- 2.5/8.0 MB 2.2 MB/s eta 0:00:03
   ------------- -------------------------- 2.7/8.0 MB 2.2 MB/s eta 0:00:03
   ------------- -------------------------- 2.8/8.0 MB 2.2 MB/s eta 0:00:03
   -------------- ------------------------- 2.9/8.0 MB 2.3 MB/s eta 0:00:03
   --------------- ------------------------ 3.0/8.0 MB 2.2 MB/s eta 0:00:03
   --------------- ------------------------ 3.1/8.0 MB 2.3 MB/s eta 0:00:03
   ---------------- ----------------------- 3.3/8.0 MB 2.3 MB/s eta 0:00:03
   ----------------- ---------------------- 3.5/8.0 MB 2.3 MB/s eta 0:00:02
   ------------------ --------------------- 3.6/8.0 MB 2.4 MB/s eta 0:00:02
   ------------------- -------------------- 3.8/8.0 MB 2.4 MB/s eta 0:00:02
   ------------------- -------------------- 3.9/8.0 MB 2.4 MB/s eta 0:00:02
   ------------------- -------------------- 4.0/8.0 MB 2.4 MB/s eta 0:00:02
   -------------------- ------------------- 4.1/8.0 MB 2.4 MB/s eta 0:00:02
   -------------------- ------------------- 4.1/8.0 MB 2.4 MB/s eta 0:00:02
   -------------------- ------------------- 4.1/8.0 MB 2.2 MB/s eta 0:00:02
   --------------------- ------------------ 4.2/8.0 MB 2.3 MB/s eta 0:00:02
   ---------------------- ----------------- 4.4/8.0 MB 2.3 MB/s eta 0:00:02
   ---------------------- ----------------- 4.5/8.0 MB 2.3 MB/s eta 0:00:02
   ----------------------- ---------------- 4.6/8.0 MB 2.3 MB/s eta 0:00:02
   ------------------------ --------------- 4.9/8.0 MB 2.4 MB/s eta 0:00:02
   ------------------------- -------------- 5.0/8.0 MB 2.4 MB/s eta 0:00:02
   -------------------------- ------------- 5.2/8.0 MB 2.4 MB/s eta 0:00:02
   --------------------------- ------------ 5.4/8.0 MB 2.4 MB/s eta 0:00:02
   --------------------------- ------------ 5.5/8.0 MB 2.4 MB/s eta 0:00:02
   ---------------------------- ----------- 5.6/8.0 MB 2.4 MB/s eta 0:00:01
   ---------------------------- ----------- 5.8/8.0 MB 2.5 MB/s eta 0:00:01
   ----------------------------- ---------- 5.9/8.0 MB 2.5 MB/s eta 0:00:01
   ------------------------------ --------- 6.2/8.0 MB 2.5 MB/s eta 0:00:01
   ------------------------------- -------- 6.3/8.0 MB 2.5 MB/s eta 0:00:01
   ------------------------------- -------- 6.4/8.0 MB 2.5 MB/s eta 0:00:01
   ------------------------------- -------- 6.4/8.0 MB 2.5 MB/s eta 0:00:01
   -------------------------------- ------- 6.4/8.0 MB 2.4 MB/s eta 0:00:01
   --------------------------------- ------ 6.8/8.0 MB 2.5 MB/s eta 0:00:01
   ---------------------------------- ----- 6.9/8.0 MB 2.5 MB/s eta 0:00:01
   ----------------------------------- ---- 7.0/8.0 MB 2.5 MB/s eta 0:00:01
   ------------------------------------ --- 7.2/8.0 MB 2.5 MB/s eta 0:00:01
   ------------------------------------- -- 7.5/8.0 MB 2.6 MB/s eta 0:00:01
   -------------------------------------- - 7.6/8.0 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------  7.9/8.0 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------  8.0/8.0 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------- 8.0/8.0 MB 2.7 MB/s eta 0:00:00
Downloading contourpy-1.2.1-cp312-cp312-win_amd64.whl (189 kB)
   ---------------------------------------- 0.0/189.9 kB ? eta -:--:--
   ------------------------------------- - 184.3/189.9 kB 10.9 MB/s eta 0:00:01
   ---------------------------------------- 189.9/189.9 kB 5.6 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.53.0-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
    --------------------------------------- 0.0/2.2 MB ? eta -:--:--
   --- ------------------------------------ 0.2/2.2 MB 2.5 MB/s eta 0:00:01
   ------ --------------------------------- 0.4/2.2 MB 2.9 MB/s eta 0:00:01
   ---------- ----------------------------- 0.6/2.2 MB 3.2 MB/s eta 0:00:01
   ------------ --------------------------- 0.7/2.2 MB 3.4 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.2 MB 3.7 MB/s eta 0:00:01
   --------------------- ------------------ 1.2/2.2 MB 3.9 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.2 MB 3.9 MB/s eta 0:00:01
   --------------------------- ------------ 1.5/2.2 MB 3.8 MB/s eta 0:00:01
   --------------------------- ------------ 1.5/2.2 MB 3.8 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 3.2 MB/s eta 0:00:01
   -------------------------------- ------- 1.8/2.2 MB 3.3 MB/s eta 0:00:01
   ----------------------------------- ---- 2.0/2.2 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  2.2/2.2 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  2.2/2.2 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  2.2/2.2 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 3.0 MB/s eta 0:00:00
Downloading kiwisolver-1.4.5-cp312-cp312-win_amd64.whl (56 kB)
   ---------------------------------------- 0.0/56.0 kB ? eta -:--:--
   ---------------------------------------- 56.0/56.0 kB 2.9 MB/s eta 0:00:00
Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
   ---------------------------------------- 0.0/103.2 kB ? eta -:--:--
   ---------------------------------------- 103.2/103.2 kB 2.9 MB/s eta 0:00:00
Installing collected packages: pyparsing, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.53.0 kiwisolver-1.4.5 matplotlib-3.9.0 pyparsing-3.1.2 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [10]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import matplotlib.pyplot as plt

In [9]:
import seaborn as sns

In [4]:
df = pd.read_csv('Covid.csv')

In [5]:
df.head()

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

In [26]:
df.groupby('Region')[['Confirmed','Deaths','Recovered']].sum()

                    Confirmed  Deaths  Recovered
Region
Afghanistan              1939      60        252
Albania                   766      30        455
Algeria                  3848     444       1702
Andorra                   743      42        423
Angola                     27       2          7
...                       ...     ...        ...
West Bank and Gaza        344       2         71
Western Sahara              6       0          5
Yemen                       6       0          1
Zambia                     97       3         54
Zimbabwe                   32       4          5

[187 rows x 3 columns]

In [28]:
df = df[~(df["Confirmed"] < 10)]

In [29]:
df

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[304 rows x 6 columns]

In [32]:
d1 = df.groupby("Region")["Confirmed"]

In [39]:
d1.sum().sort_values(ascending = True)

Region
Suriname           10
Gambia             10
Holy See           10
Burundi            11
Seychelles         11
               ...
UK             166432
France         166536
Italy          203591
Spain          236899
US            1039909
Name: Confirmed, Length: 180, dtype: int64

In [45]:
df[(df["Region"] == "India") & (df["Date"] < "2020-04-04")][["Confirmed","Deaths","Recovered"]].sum()

Confirmed    0
Deaths       0
Recovered    0
dtype: int64

In [48]:
df.sort_values(by='Confirmed', ascending = True)

          Date      State    Region  Confirmed  Deaths  Recovered
156  4/29/2020        NaN  Suriname         10       1          8
70   4/29/2020        NaN  Holy See         10       0          2
59   4/29/2020        NaN    Gambia         10       1          8
318  4/29/2020      Yukon    Canada         11       0          0
217  4/29/2020  Greenland   Denmark         11       0         11
..         ...        ...       ...        ...     ...        ...
57   4/29/2020        NaN    France     165093   24087      48228
168  4/29/2020        NaN        UK     165221   26097          0
80   4/29/2020        NaN     Italy     203591   27682      71252
153  4/29/2020        NaN     Spain     236899   24275     132929
265  4/29/2020   New York        US     299691   23477          0

[304 rows x 6 columns]

In [49]:
df.sort_values(by='Recovered', ascending = False)

          Date     State          Region  Confirmed  Deaths  Recovered
153  4/29/2020       NaN           Spain     236899   24275     132929
61   4/29/2020       NaN         Germany     161539    6467     120400
76   4/29/2020       NaN            Iran      93657    5957      73791
80   4/29/2020       NaN           Italy     203591   27682      71252
229  4/29/2020     Hubei  Mainland China      68128    4512      63616
..         ...       ...             ...        ...     ...        ...
258  4/29/2020    Nevada              US       4934     230          0
257  4/29/2020  Nebraska              US       3851      56          0
255  4/29/2020   Montana              US        451      16          0
254  4/29/2020  Missouri              US       7660     338          0
274  4/29/2020      Ohio              US      17303     937          0

[304 rows x 6 columns]